

header#header{
    background-image: url(../images/fondo1.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: 50px;
   
}

@media (min-width: 476px){
    header#header{
        background-image: url(../images/fondo1.jpg);
        background-size: 100%;
        background-repeat: no-repeat;
      
        
       
    }
}

#service{
    margin-left: 47%;
    margin-bottom: 5%;
}

#delivery{
    margin-left: 47%;
    margin-bottom: 5%; 
}

#escrito1{
    margin-left: 17%;
}
#escrito2{
    margin-left: 17%;
}

